<div class="container">
  <form action="/edit" method="post">
    <br>
    <input type="text" placeholder="change it to.." name="edited_note">
    <input type="submit" value="Commit!">
    <br>
  </form>
</div>
