<div class="container">
  <form action="/notes" method="get">
    Want to see your notes?
    <br>
    <a href= "/notes"> Click here! </a>
    <br>
  </form>
</div>

<div class="container">
  <form action="/notes" method="post">
    Add something to your list of notes:
    <br>
    <input type="text" placeholder="add a note" name="user_input">
    <input type="submit" value="add it to the list!">
    <br>
    <br>
  </form>

</div>




