<div class="container">
  <% Note.all.each do |note| %>
  <ul>
    <form action="/edit/<%=note.id%>" method="get"
      <li>
        <%= note.text %>
        <br>
        <ul>
        <li><a href="/edit/<%=note.id%>">Click to edit </a> </li>
        <li><a href="/delete/<%=note.id%>">Click to delete</a> </li>
        </ul>
        <br>
      </li>
    </ul>
    <% end %>
  </div>

  <div class="container">
    <form action="/" method="get">
      <a href= "/"> Back to Home </a>
      <br>
    </form>
  </div>





